.archival-reports__table-wrapper {
  .ant-table-body {
    table {
      padding-bottom: 10rem;
    }
  }
}

.ant-table-row-level-1 {
  .ant-table-cell:nth-child(3) {
    padding-left: 36px;
  }
}

.ant-table-row-level-2 {
  .ant-table-cell:nth-child(3) {
    padding-left: 54px;
  }
}

.ant-table-expanded-row:not([data-row-key]) {
  display: none;
}
