.cs-ui-sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  height: calc(100vh - 70px);
  padding: 40px 0;
  z-index: 99997;

  @include scrollbars(0);
  background-color: $cs-ui-white;

  @include min(1440px) {
    width: 320px;
  }

  // header

  &__header {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 40px;
  }

  &__logo {
    width: 40px;
    height: 40px;

    border-radius: $cs-ui-rounded;
    background-color: $cs-ui-white;
  }

  &__info {
    padding-left: 10px;
    width: calc(100% - 40px);

    .cs-ui-typography {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  // links

  &__links {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    user-select: none;
    padding: 12px 8px;
    margin: 8px 0;

    &.mb-0 {
      margin-bottom: 0;
    }

    color: $cs-ui-gray-600;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    border-radius: $cs-ui-rounded;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      transition: transform 0.3s ease-in-out;
      width: 40px;

      path {
        transition: all 0.3s;
      }
    }

    &-label {
      padding-left: 10px;
      width: calc(100% - 40px);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-sub-label {
      flex-grow: 1;
      width: calc(100% - 56px);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      color: $cs-ui-primary;
      text-decoration: none;
    }

    &:focus,
    &:focus-visible {
      color: $cs-ui-gray-700;
      outline: none;
      background-color: $cs-ui-pastel-blue;
      text-decoration: none;
    }

    &.active {
      background-color: $cs-ui-pastel-blue;
      color: $cs-ui-primary;
      text-decoration: none;
    }
    &--app-switcher {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    &--button {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      margin-bottom: 0;
      background-color: transparent;
      box-shadow: none;
      user-select: none;
      &:focus {
        background-color: transparent;
      }
      &:focus-visible {
        background-color: $cs-ui-pastel-blue;
      }

      .cs-ui-sidebar__link-label {
        text-align: left;
      }
    }
  }

  &__sublink {
    display: flex;
    align-items: center;
    user-select: none;
    padding: 8px 8px 8px 58px;
    margin: 4px 0;

    color: $cs-ui-gray-600;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
    border-radius: $cs-ui-rounded;
    text-decoration: none;

    &:hover {
      color: $cs-ui-gray-700;
      text-decoration: none;
    }

    &:focus,
    &:focus-visible {
      color: $cs-ui-primary;
      outline: none;
      background-color: $cs-ui-pastel-blue;
      text-decoration: none;
    }

    &:active,
    &.active {
      color: $cs-ui-primary;
      text-decoration: none;
      background-color: $cs-ui-pastel-blue;
    }
  }

  &__footer {
    margin-top: auto;
    width: 100%;
    padding: 0 12px;

    .cs-ui-sidebar__profile-wrapper {
      outline: none;
    }

    .cs-ui-sidebar__profile {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      padding: 8px;
      margin-bottom: 24px;

      background-color: $cs-ui-white;
      border-radius: $cs-ui-rounded-sm;
      transition: $cs-ui-transition;
      cursor: pointer;
      box-shadow: 0px 1px 4px -1px rgba(28, 48, 74, 0.12);

      // profile content

      &-content {
        width: calc(100% - 40px);
        padding-left: 10px;
        padding-right: 30px;
        position: relative;

        .cs-ui-typography {
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      // profile dropdown

      &-drop-icon {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        color: $cs-ui-gray-500;
      }
      &__avatar {
        flex-shrink: 0;
      }

      &__name {
        margin: 0;
      }
    }
  }

  &.cs-ui-sidebar--collapsed {
    .cs-ui-sidebar__profile {
      background-color: transparent;
      box-shadow: none;
    }
  }
}
