.cs-ui-card__wrapper {
  display: flex;
  flex-direction: column;
  width: 310px;
  gap: 17px;
  overflow-y: auto;
}

.cs-ui-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $cs-ui-content-darker;
  background-color: $cs-ui-shade-background;
  padding-left: 8px;
  padding-right: 8px;
  height: 148px;
  border: solid 1px $cs-ui-shade-light;
  border-radius: $cs-ui-rounded-lg;
  margin: 5px;
  transition: all 0.2s ease-in-out;

  &.active {
    background-color: white;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.08);
    .cs-ui-card__title {
      color: $cs-ui-black;
    }
  }

  .cs-ui-card__count {
    text-align: left;
  }

  .cs-ui-card__title {
    text-align: left;
    color: $cs-ui-shade-dark;
  }

  .cs-ui-card__body {
    padding: 4px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__icon {
      color: $cs-ui-shade-medium;
      svg {
        width: 15px;
        height: 12.02px;
        margin-top: 14px;
        margin-right: 13px;
      }
    }
  }

  .cs-ui-card__footer {
    width: 100%;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    color: $cs-ui-shade-dark;
    gap: 0.5rem;
    padding: 8px 0px;
    margin: 8px 0px;
    font-size: 14px;
    line-height: 16px;
    border-top: $cs-ui-shade-light 1px solid;

    &__seperator {
      line-height: 2px;
      color: $cs-ui-shade-dark;
    }
  }
}
